<% if @user.errors.any? %> <!-- 1 -->
<div id="error_explanation"> <!-- 3 -->
  <div class="alert alert-error">
    The form contains <%= pluralize(@user.errors.count, "error") %> <!-- 2 -->
</div>
<ul>
<% @user.errors.full_messages.each do |msg| %>
<li>* <%= msg %></li>
<% end %>
</ul>

</div>
<% end %>
